# Ensuring Copyrighted files aren´t synched to GitHub etc.
# excluding folders raw_data and cache_data
raw_data/*
cache_data/*

# exception to the rule to keep the folders synced
raw_data/place-raw-data-here.gitkeep
cache_data/place-any-temporaryly-generated-data-here.gitkeep



# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc


# Excluding example output from being synced

replication-report/01_rmd-example1_files/*
replication-report/02_rmd-example2_files/*
replication-report/01_rmd-example1.html
replication-report/01_rmd-example1.md
replication-report/02_rmd-example2.html
replication-report/02_rmd-example2.md
